{% extends 'news/base.html' %}
{% load static %}
{% block title %} Foydalanuvchi parolini ozgartirish {% endblock title %}

{% block content %}
    <div class="password-dashboard container">

        <h1 class="password-title">Parolni o‘zgartirish</h1>
        <p class="password-desc">
            Parolingizni o‘zgartirish uchun quyidagi formani to‘ldiring
        </p>

        <form method="post" class="password-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Parolni almashtirish
            </button>
        </form>

    </div>
{% endblock content %}