{% extends 'news/base.html' %}
{% load static %}
{% block title %} Foydalanuvchi paroli o'zgardi {% endblock title %}

{% block content %}
    <div class="password-done-dashboard container">

        <div class="success-icon">✔</div>

        <h1 class="password-done-title">
            Foydalanuvchi paroli o‘zgardi
        </h1>

        <p class="password-done-desc">
            {{ request.user.username }}, parolingiz muvaffaqiyatli o‘zgartirildi
        </p>

        <a href="{% url 'user_profile' %}" class="btn btn-primary">
            Profilga qaytish
        </a>

    </div>

{% endblock content %}