{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} Business sahifa {% endblock title %}

{% block content %}
    <div class="container">
        <div class="news-flex-container">
            {% for news in business_news %}
                <div class="news-item">
                    <a href="{{ news.get_absolute_url }}">
                        {% if news.image %}
                            <img class="ct-img" src="{{ news.image.url }}" alt="{{ news.title }}">
                        {% endif %}
                    </a>
                    <a href="{{ news.get_absolute_url }}" class="news-title">
                        {{ news.title }}
                        <p>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            {% get_hit_count for news %}
                        </p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

